.mdx-style pre {
  font-size: 0.8rem !important;
  margin-bottom: 1.52941rem;
}

.mdx-style h1,
.mdx-style h2,
.mdx-style h3,
.mdx-style h4,
.mdx-style h5 {
  padding-top: 1.52941rem;
}

.mdx-style li {
  margin-bottom: 0;
}

table {
  border-collapse: initial;
}

.mdx-style blockquote {
  margin-left: 0;
  padding-left: 1.52941rem;
  border-left: 1px solid #ccc;
  font-style: italic;
}
