.post-header {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}

.post-img {
    min-width: 150px;
    height: 150px;
    margin-bottom: 0;
    max-width: 150px;
    object-fit: cover;
}

.link-img {
    box-shadow: none;
    height: 150px;
}

.font-val {
    box-shadow: none;
    font-weight: bold;
    /*font-size: 24px;*/
}

.list-h3 {
    margin: 0 0 5px 0;
    line-height: 28px;
    font-size: 22px;
}

.desc {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 300;
}

.small {
    opacity: 0.75;
    font-style: italic;
}

.post-data {
    margin-left: 20px;
    margin-top: -15px;
}

@media only screen and (max-width: 768px) {
    .icon-box {
        margin-right: 10px;
    }

    .font-val {
        font-size: 16px;
    }

    .post-img {
        min-width: 100px;
        height: 100px;
        margin-bottom: 0;
        max-width: 100px;
        object-fit: cover;
    }

    .link-img {
        height: 100px;
    }

    .list-h3 {
        line-height: 22px !important;
        font-size: 18px !important;
    }

    .desc {
        font-size: 12px;
        line-height: 22px;
    }

    .post-header {
        padding: 20px 0;
    }

    .small{
        font-size: 12px !important;
    }

    .post-data {
        margin-left: 10px;
    }
}
