.icon-box {
    margin-right: 50px;
}

.icon-link {
    box-shadow: none;
    padding: 0 10px;
}

.head-link {
    box-shadow: none;
    color: inherit;
    font-family: Montserrat, sans-serif;
    margin-top: 0;
    font-weight: bold;
    font-size: 12px;
}

.head-style {
    display: inline-flex;
    width: 100%;
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
    .icon-box {
        margin-right: 10px;
    }

    .body-pad {
        padding: 20px 15px !important;
    }

    .head-style {
        margin-bottom: 0;
    }
}
